// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Ads extends APIResource {
  /**
   * Retrieves a list of all video advertisements previously generated by the user in
   * the AI Ad Studio.
   *
   * @example
   * ```ts
   * const ads = await client.ai.ads.list();
   * ```
   */
  list(query: AdListParams | null | undefined = {}, options?: RequestOptions): APIPromise<unknown> {
    return this._client.get('/ai/ads', { query, ...options });
  }

  /**
   * Submits a request to generate a high-quality video ad using the advanced Veo 2.0
   * generative AI model. This is an asynchronous operation, suitable for standard ad
   * content creation.
   *
   * @example
   * ```ts
   * const response = await client.ai.ads.generate();
   * ```
   */
  generate(body: AdGenerateParams, options?: RequestOptions): APIPromise<unknown> {
    return this._client.post('/ai/ads/generate', { body, ...options });
  }

  /**
   * Polls the real-time status of an asynchronous video generation operation. Once
   * complete ('done'), the response includes a temporary, signed URL to access and
   * download the generated video asset.
   *
   * @example
   * ```ts
   * const response = await client.ai.ads.getOperation(
   *   'op-video-gen-12345-abcde',
   * );
   * ```
   */
  getOperation(operationID: string, options?: RequestOptions): APIPromise<unknown> {
    return this._client.get(path`/ai/ads/operations/${operationID}`, options);
  }
}

export type AdListResponse = unknown;

export type AdGenerateResponse = unknown;

export type AdGetOperationResponse = unknown;

export interface AdListParams {
  /**
   * Maximum number of items to return in a single page.
   */
  limit?: number;

  /**
   * Number of items to skip before starting to collect the result set.
   */
  offset?: number;

  /**
   * Filter ads by their generation status.
   */
  status?: string;
}

export interface AdGenerateParams {}

export declare namespace Ads {
  export {
    type AdListResponse as AdListResponse,
    type AdGenerateResponse as AdGenerateResponse,
    type AdGetOperationResponse as AdGetOperationResponse,
    type AdListParams as AdListParams,
    type AdGenerateParams as AdGenerateParams,
  };
}
