// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request();
   * ```
   */
  request(body: AuditRequestParams, options?: RequestOptions): APIPromise<unknown> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(auditID: string, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export type AuditRequestResponse = unknown;

export interface AuditRetrieveReportResponse {
  /**
   * The period covered by this audit report.
   */
  periodCovered: unknown;
}

export interface AuditRequestParams {}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
